<section class="protfolio ">
<div class="d-flex justify-content-center ">
  <div class="text-center">
<h1>PROTFOLIO COMPONENT</h1>
<span class="sh1"></span>
<i class="fa-solid fa-star"></i>
<span class="sh2"></span>
</div>
</div>

<div class="container pt-5 ">
  <div class="row g-4">
    <div class="col-md-4">
  <img src="/image/poert1.png"  data-bs-toggle="modal" data-bs-target="#exampleModal1" class="w-100 imgAbdo">

  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-body">
          <img src="/image/poert1.png"  data-bs-toggle="modal" data-bs-target="#exampleModal1" class="w-100 modelImg">
          <button type="button" class="btn-close modelButton" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      </div>
    </div>
  </div>



  <div class="col-md-4">
    <img src="/image/port2.png "  data-bs-toggle="modal" data-bs-target="#exampleModal2" class="w-100  imgAbdo">

    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-body">
            <img src="/image/port2.png"  data-bs-toggle="modal" data-bs-target="#exampleModal2" class="w-100 modelImg">
            <button type="button" class="btn-close modelButton" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
      </div>
    </div>





    <div class="col-md-4 ">
      <img src="/image/port3.png"  data-bs-toggle="modal" data-bs-target="#exampleModal3" class="w-100 imgAbdo" >

      <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-body">
              <img src="/image/port3.png"  data-bs-toggle="modal" data-bs-target="#exampleModal3" class="w-100 modelImg">
              <button type="button" class="btn-close modelButton" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          </div>
        </div>
      </div>





      <div class="col-md-4 ">
        <img src="/image/poert1.png"  data-bs-toggle="modal" data-bs-target="#exampleModal4" class="w-100 imgAbdo">

        <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-body">
                <img src="/image/poert1.png"  data-bs-toggle="modal" data-bs-target="#exampleModal4" class="w-100 modelImg">
                <button type="button" class="btn-close modelButton" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>




        <div class="col-md-4 ">
          <img src="/image/port2.png "  data-bs-toggle="modal" data-bs-target="#exampleModal5" class="w-100 imgAbdo">

          <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel5" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-body">
                  <img src="/image/port2.png "  data-bs-toggle="modal" data-bs-target="#exampleModal5" class="w-100 modelImg">
                  <button type="button" class="btn-close modelButton" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
              </div>
            </div>
          </div>




          <div class="col-md-4">
            <img src="/image/port3.png"  data-bs-toggle="modal" data-bs-target="#exampleModal6" class="w-100 imgAbdo">

            <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel6" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-body">
                    <img src="/image/port3.png"  data-bs-toggle="modal" data-bs-target="#exampleModal6" class="w-100 modelImg">
                    <button type="button" class="btn-close modelButton" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                </div>
              </div>
            </div>





  </div>
</div>


</section>


