<section class="">
  <div class="d-flex justify-content-center ">
<div class="text-center">
  <h2 class="mt-4 pb-2">CONTACT SECTION</h2>
  <span class="sh1"></span>
<i class="fa-solid fa-star"></i>
<span class="sh2"></span>
</div>
</div>
<div class="inputItem container  justify-content-center pt-5">
<input type="password" id="inputPassword5" class="form-control mb-5" placeholder="UserNmae" aria-describedby="passwordHelpBlock">
<input type="password" id="inputPassword5" class="form-control mb-5" placeholder="UserAge" aria-describedby="passwordHelpBlock">
<input type="password" id="inputPassword5" class="form-control mb-5" placeholder="UserEmail" aria-describedby="passwordHelpBlock">
<input type="password" id="inputPassword5" class="form-control mb-4" placeholder="UserPassword" aria-describedby="passwordHelpBlock">

<div class="col-auto">
  <button type="submit" class="btn  inputItemButton  mb-3">Confirm identity</button>
</div>
</div>





</section>




